<template name="welcome">
    <div class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <h4 class="modal-title">Welcome to adViz!</h4>
                </div>

                <div class="modal-body">
                    <p>Glad to have you on board! If you'd like to get personalized alerts, go ahead and complete your profile. Thank you for choosing ad<b>Viz</b>!</p>
                </div>

                <div class="modal-footer">
										<button type="button" class="btn btn-info btn-flat" id="profileRedirect">Profile</button>
                    <button type="button" class="btn btn-danger btn-flat" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>
</template>