<template name="report_crime">
	<div class="wrapper">

		{{>dash_navbar}}
		
		{{>dash_sidebar}}

		<!-- Content Wrapper. Contains page content -->
		<div class="content-wrapper">
			<!-- Content Header (Page header) -->
			<section class="content-header">
					<h1>
						Report a Crime
						<small>Secure and Anonymous</small>
					</h1>
					<ol class="breadcrumb">
						<li><a href=dashboard><i class="fa fa-dashboard"></i> Dashboard</a></li>
						<li class="active"><i class="fa fa-flag"></i> Report Crime</li>
					</ol>
			</section>

			<!-- Main content -->
			<section class="content">

				<!-- Your Page Content Here -->
				<div class="row rc">
            <div class="col-md-6">
							<div id="crime-location-map"></div>
						</div>
            <div class="col-md-6 text-center">
              <form class="report-crime">
								<input type="text" name="type" placeholder="Type of Crime" />
								<input type="text" name="desc" placeholder="Description of Crime" />
								<input type="time" name="time" />
								<input id="crime-location" type="text" placeholder="Type in an address" value="Visakhapatnam, Andhra Pradesh, India" />
								<input id="find" type="button" value="find" />

								<fieldset>
									<label class="light">Latitude</label>
									<input name="lat" type="text" value="">

									<label class="light">Longitude</label>
									<input name="lng" type="text" value="">

									<label class="light">Formatted Address</label>
									<input name="formatted_address" type="text" value="">
								</fieldset>

								 <button id="reset" class="btn btn-success btn-flat">Reset Marker</button>
								 <button type="submit" class="btn btn-success btn-flat">Report Crime</button>
						</form>
            </div>
          </div>
					<!-- /.row -->
				
			</section>
			<!-- /.content -->
		</div>
		<!-- /.content-wrapper -->

		<!-- Main Footer -->
		<footer class="main-footer">
			<!-- To the right -->
			<div class="pull-right hidden-xs">
				Made by UC Berkeley students for the citizens of Visakhapatnam.
			</div>
			<!-- Default to the left -->
			<strong>Copyright &copy; 2015 <a href="#">ad<b>Viz</b></a>.</strong> All rights reserved.
		</footer>

		{{>dash_control_sidebar}}
	</div>
	<!-- ./wrapper -->
</template>