/* CSS declarations go here */
html,
body {
    width: 100%;
    height: 100%;
    margin: 0px;
}

body {
    overflow-x: hidden;
    font-family: "Roboto Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
}


/* Table Styling */
table,th, td {
    border: 1px solid white;
    color: white;
    margin: auto;
    padding: 5px;
}

td {
  text-align: center;
  min-width: 20px;
  padding: 5px;
}

table {
    border-collapse: collapse;
}


/* Footer Styling */
#footer {
    color: white;
    background-color: black;
    position: absolute;
    width: 100%;
    height: 50px; /* height of footer */
}

#footer p {
  margin: 0px;
}

.footer-centered {
  text-align: center;
  line-height: 50px;
}



/* Button Styling */
button {
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
    border-radius: 0px;
    color: #50B73F ;
    font-size: 20px;
    background: rgba(0, 0, 0,0.2);
    padding: 10px 20px 10px 20px;
    border: solid #50B73F  2px;
    text-decoration: none;
}

button:hover {
    background: #50B73F ;
    color: white;
    text-decoration: none;
}

a {
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
    border-radius: 0px;
    color: #50B73F ;
    font-size: 20px;
    background: rgba(0, 0, 0,0.2);
    padding: 10px 20px 10px 20px;
    text-decoration: none;
}

a:hover {
    background: #50B73F ;
    color: white;
    text-decoration: none;
}

/* Formatting for various text boxes */
#splash {
    width: 100%;
    height: calc(100% - 50px);
    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ),url("/img/vizag-splash.jpg") no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

#admin {
    width: 100%;
    height: calc(150% - 50px);
    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ),url("/img/vizag-splash.jpg") no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

#splash-info {
  border-radius: 0px;
  color: #50B73F ;
  font-size: 20px;
  background: rgba(0, 0, 0,0.2);
  padding: 10px 20px 10px 20px;
}

#heatmap-user {
  border-radius: 0px;
  color: #50B73F ;
  font-size: 20px;
  padding: 30px 40px 30px 40px;
  background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ),url("/img/heatmap.jpg") no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.bordered {
    border: solid #ffffff 2px;
}

.centered{
    margin: auto;
    display:block;
}


/* Custom adViz primary color */
.adviz-color {
    color: #50B73F;
    background-color: transparent;
}

/* Custom light color */
.light {
    color: white;
}

h1 {
    font-size: 40px;
    margin: 0px;
}


input {
    max-width: 50%;
    margin: auto;
}

/* Bootstrap overwrite */
.row {
  margin-top: 20px;
  margin-bottom: 20px;
}

.container {
  margin-right: 0px;
  margin-left: 0px;
  width: 100%;
}


/* Google Maps Styling */
.map-container {
  width: 800px;
  max-width: 100%;
  height: 400px;
  max-height: 100%;
}

#crime-location-map {
  width: 300px;
  max-width: 100%;
  height: 300px;
  max-height: 100%;
}