.navbar{
  margin-bottom:0;
  border:none;
  border-radius: 0px;
}

.navbar-brand .glyphicon{
  margin-right:6px;
}


.navbar-default {
  background-color: black;
  color: white;
}

.navbar-default .navbar-nav > li > a {
    color: white;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #777;
}

.navbar-default .navbar-link {
    color: white;
}

.navbar-default .navbar-link:hover {
    color: #777;
}

.hero{
  background:url(/img/city_bg.jpg) no-repeat center;
  background-size:cover;
  border:none;
}

@media (min-width:992px) {
  .hero .get-it{
    text-align:right;
    margin-top:80px;
    padding-right:30px;
  }
}


@media (max-width:992px) {
  .hero .get-it{
    text-align:center;
  }
}

@media (max-width:992px) {
  .hero .phone-preview{
    text-align:center;
  }
}

.hero .get-it h1, .hero .get-it p{
  color:#fff;
  text-shadow:2px 2px 3px rgba(0,0,0,0.3);
  margin-bottom:40px;
}

.hero .get-it .btn{
  margin-left:10px;
  margin-bottom:10px;
  text-shadow:none;
}

div.iphone-mockup{
  position:relative;
  max-width:250px;
  margin:20px;
  display:inline-block;
}

.iphone-mockup img.device{
  width:100%;
  height:auto;
}

.iphone-mockup .screen{
  position:absolute;
  width:88%;
  height:77%;
  top:12%;
  border-radius:2px;
  left:6%;
  border:1px solid #444;
  background-color:#aaa;
  overflow:hidden;
  background:url(/img/screen-content-iphone-6.jpg);
  background-size:cover;
  background-position:center;
}

.iphone-mockup .screen:before{
  content:'';
  background-color:#fff;
  position:absolute;
  width:70%;
  height:140%;
  top:-12%;
  right:-60%;
  transform:rotate(-19deg);
  opacity:0.2;
}

.icon-feature{
  text-align:center;
}

.icon-feature .glyphicon{
  font-size:60px;
}

section.features{
/*
  background-image:linear-gradient(to bottom, #74b97f, #4dc339 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
*/
  background-color: #74b97f;
  padding:40px 0;
  color:#fff;
}

.features h2{
  color:#fff;
}

.features .icon-features{
  margin-top:15px;
}

.testimonials blockquote{
  text-align:center;
}

section.testimonials{
  margin:50px 0;
}

.site-footer{
  padding:5px 0;
  text-align:center;
  color: white;
  background-color: black;
  
}

#footer-row {
  margin: 0px;
  text-align: center;
}

@media (min-width:768px) {
  .site-footer h5{
    text-align:center;
  }
}

.site-footer h5{
  color:inherit;
  font-size:15px;
}

.site-footer .social-icons a:hover{
  opacity:1;
}

.site-footer .social-icons a{
  display:inline-block;
  width:32px;
  border:none;
  font-size:20px;
  border-radius:50%;
  margin:4px;
  color:#fff;
  text-align:center;
  background-color:#798FA5;
  height:32px;
  opacity:0.8;
  line-height:32px;
}

@media (min-width:768px) {
  .site-footer .social-icons{
    text-align:right;
  }
}

.jumbotron{
  margin-bottom: 0px;
}
div.jumbotron.hero-technology{
  color:#fff;
  text-align:center;
  background:url('/img/hero-background-technology.jpg');
  background-size:cover;
  background-position:center;
  padding-top:100px;
  padding-bottom:100px;
}

h1.hero-title, h2.hero-title, h3.hero-title{
  text-shadow:0 2px 2px rgba(0,0,0,0.3);
  color:#fff;
  font-weight:500;
}

p.hero-subtitle{
  max-width:600px;
  margin:25px auto;
  padding:10px 15px;
  background-color:rgba(0,0,0,0.1);
  color:#fff;
  text-shadow:0 1px 1px rgba(0,0,0,0.7);
  font-weight:500;
}

