<template name="users_overview">
    <table class="users_table">
      <tr class="users_table">
<!--        <th>ID</th>-->
        <th class="users_table">First Name</th>
				<th class="users_table">Last Name</th>
        <th class="users_table">Facebook ID</th>
        <th class="users_table">Phone Number</th>
      </tr>
      {{#each users}}
        {{> user}}
      {{/each}}
    </table>
</template>

<template name="user">
  <tr class="users_table">
<!--    <td>{{_id}}</td>-->
    <td class="users_table">{{profile.firstName}}</td>
		<td class="users_table">{{profile.lastName}}</td>
    <td class="users_table">{{profile.fb}}</td>
    <td class="users_table">{{profile.phone}}</td>
  </tr>
</template>
