/* CSS declarations go here */
html,
body {
    width: 100%;
    height: 100%;
    margin: 0px;
}

body {
    overflow-x: hidden;
    font-family: "Roboto Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
}


/* Table Styling */
table,th, td {
    border: 1px solid white;
    color: white;
    margin: auto;
    padding: 5px;
}

td {
  text-align: center;
  min-width: 20px;
  padding: 5px;
}

table {
    border-collapse: collapse;
}


/* Footer Styling */
#footer {
    color: white;
    background-color: black;
    position: absolute;
    width: 100%;
    height: 50px; /* height of footer */
}

#footer p {
  margin: 0px;
}

.footer-centered {
  text-align: center;
  line-height: 50px;
}

.adviz-styled-text {
	border-radius: 0px;
	color: #50B73F ;
	font-size: 16px;
	background: rgba(0, 0, 0,0.2);
	padding: 10px 20px 10px 20px;
	border: solid #50B73F  2px;
	text-decoration: none;
	margin-top: 0px;
	margin-bottom: 10px;
}

/* Button Styling */
.adviz-btn {
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    transition: all .3s;
    border-radius: 0px;
    color: #50B73F ;
    font-size: 20px;
    background: rgba(0, 0, 0,0.2);
    padding: 10px 20px 10px 20px;
    border: solid #50B73F  2px;
    text-decoration: none;
}

.adviz-btn:hover {
    background: #50B73F ;
    color: white;
    text-decoration: none;
}

/* Formatting for various text boxes */
#splash {
    width: 100%;
    height: calc(100% - 50px);
    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ),url("/img/vizag-splash.jpg") no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

#admin {
    width: 100%;
    height: calc(150% - 50px);
    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ),url("/img/vizag-splash.jpg") no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

#dashboard-splash {
    width: 100%;
    background: linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ),url("/img/vizag-splash.jpg") no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

#splash-info {
  border-radius: 0px;
  color: #50B73F ;
  font-size: 20px;
  background: rgba(0, 0, 0,0.2);
  padding: 10px 20px 10px 20px;
}

#heatmap-user {
  border-radius: 0px;
  color: #50B73F ;
  font-size: 20px;
  padding: 30px 40px 30px 40px;
  background: linear-gradient( rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6) ),url("/img/heatmap.jpg") no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.bordered {
    border: solid #ffffff 2px;
}

.centered{
    margin: auto;
    display:block;
}


/* Custom adViz primary color */
.adviz-color {
    color: #50B73F;
    background-color: transparent;
}

/* Custom light color */
.light {
    color: white;
}

h1 {
    font-size: 40px;
    margin: 0px;
}


input {
    margin: auto;
}

/* Bootstrap overwrite */
.row {
  margin-top: 10px;
  margin-bottom: 10px;
}

.row-no-margin {
	margin-top: 0px;
	margin-bottom: 0px;
}

.container {
  margin-right: 0px;
  margin-left: 0px;
  width: 100%;
}


/* Google Maps Styling */
.map-container {
  width: 1500px;
  max-width: 100%;
  height: 500px;
  max-height: 100%;
}

#crime-location-map {
  width: 350px;
  max-width: 100%;
  height: 350px;
  max-height: 100%;
	float: right;
}


.grid {
	position: relative;
	margin: 0 auto;
	padding: 1em 0 4em;
	max-width: 1000px;
	list-style: none;
	text-align: center;
}

/* Common style */
.grid figure {
	position: relative;
	float: left;
	overflow: hidden;
	margin: 10px 1%;
	min-width: 320px;
	max-width: 480px;
	max-height: 360px;
	width: 48%;
	background: #3085a3;
	text-align: center;
	cursor: pointer;
}

.grid figure img {
	position: relative;
	display: block;
	min-height: 100%;
	max-width: 100%;
	opacity: 0.8;
}

.grid figure figcaption {
	padding: 2em;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.25em;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}

.grid figure figcaption::before,
.grid figure figcaption::after {
	pointer-events: none;
}

.grid figure figcaption,
.grid figure figcaption > a {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* Anchor will cover the whole item by default */
/* For some effects it will show as a button */
.grid figure figcaption > a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	opacity: 0;
}

.grid figure h2 {
	word-spacing: -0.15em;
	font-weight: 300;
}

.grid figure h2 span {
	font-weight: 800;
}

.grid figure h2,
.grid figure p {
	margin: 0;
}

.grid figure p {
	letter-spacing: 1px;
	font-size: 68.5%;
}

figure.effect-ruby {
	background-color: #879396;
}

figure.effect-ruby img {
	opacity: 0.6;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale(1.15);
	transform: scale(1.15);
}

figure.effect-ruby:hover img {
	opacity: 0.5;
	-webkit-transform: scale(1);
	transform: scale(1);
}

figure.effect-ruby h2 {
	margin-top: 20%;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,20px,0);
	transform: translate3d(0,20px,0);
}

figure.effect-ruby p {
	margin: 1em 0 0;
	padding: 3em;
	border: 1px solid #fff;
	opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(0,20px,0) scale(1.1);
	transform: translate3d(0,20px,0) scale(1.1);
} 

figure.effect-ruby:hover h2 {
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

figure.effect-ruby:hover p {
	opacity: 1;
	-webkit-transform: translate3d(0,0,0) scale(1);
	transform: translate3d(0,0,0) scale(1);
}

/* Login page */
#login-page {
		height: calc(100% - 100px);
}

#inputEmail {
		margin: 5px 0px 5px 0px;
		width: 100%;
		max-width: 100%;
}

#inputPassword {
		margin: 0px 0px 5px 0px;
		width: 100%;
		max-width: 100%;
}


/* Spinners */
.loading-message {
  color: #fff;
  font-size: 25px;
  font-weight: 300;
  font-family: sans-serif;
}

.sk-spinner-rotating-plane.sk-spinner {
  background-color: #fff;
}


/* Dashboard */
#dash-title {
	font-size: 30px;
}

/* Report Crime */
.rc {
	min-height: calc(100% - 100px);
}

/* Registration */
#privacy-statement {
	font-size: 14px;
}