<template name="dash_control_sidebar">
	<!-- Control Sidebar -->
	<aside class="control-sidebar control-sidebar-dark">
		<!-- Create the tabs -->
		<ul class="nav nav-tabs nav-justified control-sidebar-tabs">
			<li><a href="#control-sidebar-settings-tab" data-toggle="tab"><i class="fa fa-gears"></i></a></li>
			<li class="active"><a href="#control-sidebar-home-tab" data-toggle="tab"><i class="fa fa-info"></i></a></li>
			
		</ul>
		<!-- Tab panes -->
		<div class="tab-content">
			<!-- Settings tab content -->
			<div class="tab-pane" id="control-sidebar-settings-tab">
				<form method="post">
					<h3 class="control-sidebar-heading">General Settings</h3>

					<button type="button" class="btn btn-info btn-flat" id="promoteAdmin">Promote to Admin</button>
					<!-- /.form-group -->
				</form>
			</div>
			<!-- /.tab-pane -->
			
			<!-- Home tab content -->
			<div class="tab-pane active" id="control-sidebar-home-tab">
				<h3 class="control-sidebar-heading">About adViz</h3>
				<ul class="control-sidebar-menu">
					<li>
						<a href="javascript::;">
							<i class="menu-icon fa fa-users bg-green"></i>

							<div class="menu-info">
								<h4 class="control-sidebar-subheading">Team</h4>

								<p>We're a team of 5 UC Berkeley students seeking to make Vizag safer.</p>
							</div>
						</a>
					</li>
				</ul>
				<ul class="control-sidebar-menu">
					<li>
						<a href="javascript::;">
							<i class="menu-icon fa fa-heart bg-green"></i>

							<div class="menu-info">
								<h4 class="control-sidebar-subheading">Sponsors</h4>

								<p>A huge thanks to IBM, Twilio, and the Haas School of Business for sponsoring us.</p>
							</div>
						</a>
					</li>
				</ul>
				<!-- /.control-sidebar-menu -->

				<h3 class="control-sidebar-heading">What are we working on?</h3>
				<ul class="control-sidebar-menu">
					<li>
						<a href="javascript::;">
							<h4 class="control-sidebar-subheading">
								iPhone Application Safe Routing
								<span class="label label-danger pull-right">60%</span>
							</h4>

							<div class="progress progress-xxs">
								<div class="progress-bar progress-bar-danger" style="width: 60%"></div>
							</div>
						</a>
					</li>
					<li>
						<a href="javascript::;">
							<h4 class="control-sidebar-subheading">
								iPhone Application Incident Detection
								<span class="label label-danger pull-right">20%</span>
							</h4>

							<div class="progress progress-xxs">
								<div class="progress-bar progress-bar-danger" style="width: 20%"></div>
							</div>
						</a>
					</li>
					<li>
						<a href="javascript::;">
							<h4 class="control-sidebar-subheading">
								Web Application Immersive Trends
								<span class="label label-danger pull-right">20%</span>
							</h4>

							<div class="progress progress-xxs">
								<div class="progress-bar progress-bar-danger" style="width: 20%"></div>
							</div>
						</a>
					</li>
					<li>
						<a href="javascript::;">
							<h4 class="control-sidebar-subheading">
								Live Crime Alerts
								<span class="label label-danger pull-right">40%</span>
							</h4>

							<div class="progress progress-xxs">
								<div class="progress-bar progress-bar-danger" style="width: 40%"></div>
							</div>
						</a>
					</li>
					<li>
						<a href="javascript::;">
							<h4 class="control-sidebar-subheading">
								Partnership with the Visakhapatnam Police
								<span class="label label-danger pull-right">60%</span>
							</h4>

							<div class="progress progress-xxs">
								<div class="progress-bar progress-bar-danger" style="width: 60%"></div>
							</div>
						</a>
					</li>
				</ul>
				<!-- /.control-sidebar-menu -->

			</div>
			<!-- /.tab-pane -->
			
			
		</div>
	</aside>
	<!-- /.control-sidebar -->
	<!-- Add the sidebar's background. This div must be placed
			 immediately after the control sidebar -->
	<div class="control-sidebar-bg"></div>
</template>