<template name="dash_sidebar">
	<!-- Left side column. contains the logo and sidebar -->
		<aside class="main-sidebar">

			<!-- sidebar: style can be found in sidebar.less -->
			<section class="sidebar">

				<!-- Sidebar user panel (optional) -->
				<div class="user-panel">
					<div class="pull-left image">
						<img src="img/adviz_logo.png" alt="User Image">
					</div>
					<div class="pull-left info">
						<p>adViz</p>
						<!-- Status -->
						<a href="#"><i class="fa fa-circle text-success"></i> Online</a>
					</div>
				</div>

				<!-- search form (Optional) -->
				<form action="#" method="get" class="sidebar-form">
					<div class="input-group">
						<input type="text" name="q" class="form-control" placeholder="Search...">
								<span class="input-group-btn">
									<button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
									</button>
								</span>
					</div>
				</form>
				<!-- /.search form -->

				<!-- Sidebar Menu -->
				<ul class="sidebar-menu">
					<li class="header">DASHBOARD</li>
					<!-- Optionally, you can add icons to the links -->
					{{#if isOverview}}
						<li class="active"><a href="dashboard"><i class="fa fa-home"></i> <span>Overview</span></a></li>
					{{else}}
						<li><a href="dashboard"><i class="fa fa-home"></i> <span>Overview</span></a></li>
					{{/if}}
					{{#if isMap}}
						<li class="active"><a href="crimemap"><i class="fa fa-map-marker"></i> <span>Crime Map</span></a></li>
					{{else}}
						<li><a href="crimemap"><i class="fa fa-map-marker"></i> <span>Crime Map</span></a></li>
					{{/if}}
					{{#if isTrends}}
						<li class="active"><a href="trends"><i class="fa fa-line-chart"></i> <span>Crime Trends</span></a></li>
					{{else}}
						<li><a href="trends"><i class="fa fa-line-chart"></i> <span>Crime Trends</span></a></li>
					{{/if}}
					{{#if isReport}}
						<li class="active"><a href="reportcrime"><i class="fa fa-flag-o"></i> <span>Report Crime</span></a></li>
					{{else}}
						<li><a href="reportcrime"><i class="fa fa-flag-o"></i> <span>Report Crime</span></a></li>
					{{/if}}
					{{#if isQuestion}}
						<li class="active"><a href="question"><i class="fa fa-comment"></i> <span>Ask a Question</span></a></li>
					{{else}}
						<li><a href="question"><i class="fa fa-comment"></i> <span>Ask a Question</span></a></li>
					{{/if}}
					{{#if isAlerts}}
						<li class="active"><a href="alerts"><i class="fa fa-exclamation-triangle"></i> <span>View Alert History</span></a></li>
					{{else}}
						<li><a href="alerts"><i class="fa fa-exclamation-triangle"></i> <span>View Alert History</span></a></li>
					{{/if}}
					{{#if isProfile}}
						<li class="active"><a href="profile"><i class="fa fa-user"></i> <span>Account Settings</span></a></li>
					{{else}}
						<li><a href="profile"><i class="fa fa-user"></i> <span>Account Settings</span></a></li>
					{{/if}}
					{{#if isAdmin}}
						<li class="active"><a href="admin"><i class="fa fa-wrench"></i> <span>Admin Panel</span></a></li>
					{{else}}
						<li><a href="admin"><i class="fa fa-wrench"></i> <span>Admin Panel</span></a></li>
					{{/if}}
					<li><a href="olddashboard"><i class="fa fa-desktop"></i> <span>Old Dashboard [Temporary]</span></a></li>
				</ul>
				<!-- /.sidebar-menu -->
			</section>
			<!-- /.sidebar -->
		</aside>
</template>